.galeria {
    padding-block: 2rem;
    .galeria-tit {
        text-align: center;
        padding-block: 2rem;
        font-size: 3rem;
        color: $colorprincipal
    }
    .galeria-container {
        display: flex;
        max-width: 1000px;
        margin-inline: auto;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .foto {
        width: 100%;
    }
    .foto img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    

}