.hero { 
    display: flex;
    background-color: $colorprincipal ;
    align-items: center;
    padding:  1rem 20%;
    color: white;
    .hero-tit { 
        font-size: 2rem;
        margin-bottom: 2rem;
        padding: 1rem 0rem;
    }
    .hero-text {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .btn { 
        background-color: white;
        padding : 2rem ;
        color: black;
        margin: 2rem ;
        transition: all 1s;
    }
    .btn:hover{
        background-color: aqua;
    }
    
}   

.puente {
    .puente-contai {
        display: flex;
        align-items: center;
        margin-inline: auto;
        gap: 2rem;
        text-align: center;
        padding: 1rem;
    }
    .puente-text {
        padding: 1rem;
    }
    .p1{
        -webkit-animation:roll-in-left .6s ease-out both;
        animation:roll-in-left .6s ease-out both;
        animation-delay: 0.5s;
    }
    .p1:hover{
        background-color: rgb(214, 214, 214);
    }
    .p2{
        animation:roll-in-right .6s ease-out both;
        animation-delay: 0.5s;
    }
    
    .p2:hover{
        background-color: rgb(214, 214, 214);
    }
    
}
.fondo{
    background-color: rgb(206, 206, 206);
    .num{
        font-size: 70px;
        font-weight: bold;
      }
      .tex{
        font-size: 20px;
      }
      .tit{
        font-size: 40px;
        color: blue;
      }
  }


  

  

// animista
 @-webkit-keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}


@keyframes roll-in-right{0%{transform:translateX(800px) rotate(540deg);opacity:0}100%{transform:translateX(0) rotate(0deg);opacity:1}}